.success-section {
    display: flex;
    text-align: center;
    margin: 3em auto;
}

.success-container {
    font-size: 2em;
}

.checkmark-icon {
    height: 150px;
}

.counter {
    text-align: end;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 15px;
}

@media screen and (max-width: 1538px) and (min-width: 769px) {
    .main-container {
        display: flex;
    }

    .cartOrderS {
        position: relative;
        width: 300px;
    }

    .success-section {
        width: 99%;
        justify-content: center;
    }
}